<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://https://server-0396.whmpanels.com/:3306/r116501soft_e-ticketing</property>
        <property name="connection.username">r116501soft_ticket_master</property>
        <property name="connection.password">ticketmaster</property>

        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <mapping class="com.andrei.eticketing.entities.User"/>

    </session-factory>
</hibernate-configuration>
